body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    background-color: bisque;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header {
    margin-bottom: 10px;
    padding: 20px;
    /*position: fixed;*/
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    margin-top: auto;
    padding: 16px;
    font-size: 28px;
    background-color: darkgray;
}

h1 {
    font-size: 36px;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

i.fa-user {
    margin: auto 30px;
    padding: 5px 8px;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 24px;
}

i.fa-search {
    color: #fff;
}

i.fa-heart {
    font-size: 20px;
}
.active {
    color: rgb(228, 0, 0);
}

.header-link {
    font-size: 30px;
    font-family:'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.search {
    margin: 15px auto 25px;
    padding: 20px;
    input {
    padding: 10px;
    border: 1px dotted #000;
    width: 25%;
    font-size: 1rem;
    } button {
        background: gray;
        border: none;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        i {
            font-size: 18px;
        }
    }
}

.form {
    margin: 0 auto;
    border: 1px solid black;
    width: 40%;
    font-size: 24px;
}

.submit {
    margin: 14px;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: salmon;
    color: #000;
}

.login-box input {
    margin: 15px;
    padding: 12px 20px;
    width: 70%;
    font-size: 16px;
}

textarea {
    margin: 10px auto;
    padding: 20px;
    width: 70%;
    font-size: 18px;
}

.bin-form {
    margin: 20px auto;
    border: 1px solid black;
    width: 60%;
    font-size: 20px;
}

.additional {
    margin: 30px;
    font-size: 22px;
}

.user-bin-extra {
    margin: auto 10px;
    font-size: 20px;
    i {
        margin: 2px;
    }
}

.user-bin-item {
    margin: 20px 12px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(200, 200, 200);
}
.user-bin-item:nth-of-type(odd) {
    background-color: rgb(240, 240, 240);
}

.liked-bin {
    margin: 20px 12px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(170, 170, 170);
}
.liked-bin:nth-of-type(odd) {
    background-color: rgb(140, 140, 140);
}

.like-btn {
    border: none;
    vertical-align: middle;
    background-color: transparent;
    color: rgb(200, 200, 200);
}

a.btn {
    padding: 10px 14px;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
}

a.btn:hover {
    background-color: lightskyblue;
}

a#edit, a#delete {
    margin: auto 10px;
}

a#edit:hover {
    background-color: gold;
}

.bin-container {
    margin: 20px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .bin-value {
        border: 2px solid green;
        padding: 10px;
        width: 90%;
        height: 350px;
        font-size: 20px;
        background-color: #fff;
        a#popup-open:hover {
            background-color: tomato;
        }
    }
}

.bin-wrapper {
    width: 60%;
    margin: 0 auto;
    p {
        padding: 20px;
        border: 2px solid #000;
        background-color: aliceblue;
        text-align: left;
        font-size: 22px;
    }
}

.comment-wrapper {
    width: 60%;
    margin: 60px auto 30px;
    .comment {
        margin: 20px 0;
        padding: 20px 20px 4px;
        border-radius: 10px;
        background-color: #fff;
        text-align: left;
        font-size: 20px;
        .bin-extra {
            display: flex;
            justify-content: space-between;
        }
    }
    .comment-form input {
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        font-size: 22px;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    .popup-body {
        position: relative;
        width: 550px;
        margin: 30px 15px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
        background-color: #fff;
        z-index: 1;
    }
    .btn-close {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        background: none;
        padding: 5px;
        font-size: 14px;
        opacity: 0.6;
        cursor: pointer;
        color: #000;
    }
    .btn-close:hover {
        opacity: 1;
    }
}

.popup.open {
    visibility: visible;
    opacity: 1;
}

#create span {
    font-weight: 900;
    font-size: 200px;
    color: forestgreen
}

#host {
    animation: animate 2s infinite;
}

@keyframes animate {
    0% {
        color: black;
    } 25% {
        color: grey;
    } 50%{
        color: white;
    } 75% {
        color: grey;
    } 100% {
        color: black;
    }
}

@media screen and (min-width: 1024px) {
    .user-card, .user-bins {
        border-right: 1px solid grey;
    }
    
    .user-bins, .user-likes {
        border-left: 1px solid grey;
    }

    .user-profile {
        width: 90%;
        padding: 0 5%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    .user-profile {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}