{% extends 'base.html' %}

{% block content %}
    {% if flag == 1 %}
        <form action="" method="POST" class="bin-form">
            <h2>Create a new bin</h2>
            {% csrf_token %}
            <div class="login-box">
                <label for="name">Title:</label><br/>
                <input type="text" name="name" />
            </div>
            <label for="description">Bin Text:</label><br/>
            <textarea rows="10" name="description"></textarea><br/>
            <!--{{ form.as_p }}-->
            <input type="submit" value="Create" name="create" class="submit"/>
        </form>
    {% else %}
        <form action="" method="POST" class="bin-form">
            <h2>Update existing bin</h2>
            {% csrf_token %}
            <div class="login-box">
                <label for="name">Title:</label><br/>
                <input type="text" name="name" value="{{bin.name}}" />
            </div>
            <label for="description">Bin Text:</label><br/>
            <textarea name="description" rows="10">{{bin.description}}</textarea><br/>
            <input type="submit" value="Update" name="update" class="submit" />
        </form>
    {% endif %}
<!--    <p>
        <a href="/bin_page" class="btn">Create</a>
    </p>-->
{% endblock %}