{% extends 'base.html' %}

{% block content %}

<form method="GET" action="{% url 'home' %}" class="search">
    <div class="input">
    <input type="text" name="q" placeholder="Search for bins..." value="{{q}}"/>
    {% if q != "" %}
        <a href="{% url 'home' %}">X</a>
    {% endif %}
    </div>
    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
<h1>Bins</h1>

<div>
    <h2>{{bin_count}} bins are available</h2>
    <div class="bin-container">
        <a href="{% url 'create_bin' %}" id="create">
        <div class="bin-value">
            <span>+</span>
            <p>Create new</p>
        </div>
        </a>
        {%for bin in bins %}
            <div class="bin-value">
                {% if request.user == bin.host %}
                    <h4 id="host">It is your bin</h4>   
                {% endif %}
                {% if request.user != bin.host %}
                    <h3> by <a href="{% url 'user_profile' bin.host.id %}">{{bin.host.username}}</a></h3>
                {% endif %}
                <h3 style="font-style: italic; margin: 80px auto"><a href="{% url 'bin' bin.id %}">{{bin.name}}</a></h3>
                {% if request.user.is_authenticated %}
                    {% if request.user != bin.host %}
                        {% if request.user not in bin.likes.all %}
                            <form action="{% url 'like_bin' bin.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="bin_id" value="{{bin.id}}" class="like-btn">
                                    <i class="fa fa-heart"></i>
                                </button>
                                <span style="font-size: 22px; vertical-align: middle;">{{bin.total_likes}}</span>
                            </form>
                        {% else %}
                            <form action="{% url 'like_bin' bin.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="bin_id" value="{{bin.id}}" class="like-btn">
                                    <i class="fa fa-heart active"></i>
                                </button>
                                <span style="font-size: 22px; vertical-align: middle;">{{bin.total_likes}}</span>
                            </form>
                        {% endif %}
                    {% else %}
                        <i class="fa fa-heart active" style="margin: auto 30px;"></i>
                        <span style="font-size: 22px; vertical-align: middle;">{{bin.total_likes}}</span>
                        <br/>
                    {% endif %}
                {% endif %}
                {% if request.user == bin.host %}
                    <a href="{% url 'update_bin' bin.id %}" class="btn" id="edit">Edit</a>
                    <a href="#" class="btn" id="popup-open">Delete</a>
                    <div class="popup" id="popup">
                        <div class="popup-body">
                            <div class="delete-form">
                                <form method="POST" action="{% url 'delete_bin' bin.id %}">
                                    {% csrf_token %}
                                    <p> Are u sure u want to delete "{{bin.name}}"?</p>
                                    <a href="{{request.META.HTTP_REFERER}}" class="btn">Go back</a>
                                    <input type="submit" value="Confirm" class="submit" />
                                </form>
                            </div>
                            <button class="btn-close" id="popup-close">X</button>
                        </div>
                    </div>    
                
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}