{% extends 'base.html' %}

{% block content %}

<!--{% if page == 'login' %}-->
<div>
  <form method='POST' action='' class="form">
    <h2>Log In</h2>
    {% csrf_token %}
    <div class="login-box">
      <input type="text" name="username" placeholder="Enter username" />
    </div>
    <div class="login-box">
      <input type='password' name='password' placeholder='Enter password' />
    </div>
    <input type="submit" value="Log In" class="submit" />
  </form>
  <div class="additional">
    <p>Haven't signed up yet?</p>
    <a href="{% url 'register' %}" class="btn">Sign up</a>
  </div>
</div>
<!--
{% else %}

<div>
  <form method='POST' action=''>
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value='Sign up' />
  </form>
  <div class="additional">
    <p>Already signed up?</p>
    <a href="{% url 'login' %}" class="btn">Log in</a>
  </div>
</div>
{% endif %}-->
{% endblock content %}