{% extends 'base.html' %}

{% block content %}

{% if page == 'login' %}
<div>
  <form method = 'POST' action = ''>
    {% csrf_token %}

    <label for="username">Email:</label>
    <input type="text" name="username" placeholder="Enter email" />

    <label for="password">Password:</label>
    <input type='password' name='password' placeholder='Enter Password' />

    <input type="submit" value='Log in' />
  </form>

  <p>Haven't signed up yet?</p>
  <a href="{% url 'register'%}" style="color: #333333">Sign up</a>
</div>

{% else %}

<div>
  <form method='POST' action=''>
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value='Sign up' />
  </form>

  <p>Already signed up?</p>
  <a href="{% url 'login'%}" style="color: #333333">Log in</a>
</div>

{% endif %}
{% endblock content %}