{% extends 'base.html' %}

{% block content %}

<div>
    <form method="POST" action="" class="form">
        <h2>Sign Up</h2>
        {% csrf_token %}
        <div class="login-box">
            <input type="text" name="username" placeholder="Enter username" class="full-input" required/>
        </div>
        <div class="login-box">
            <input type="email" name="email" placeholder="Enter email" class="full-input" required/>
        </div>
        <div class="login-box">
            <input type="password" name="password1" id="password1" placeholder="Enter password" class="half-input" required/>
            <i class="fa fa-eye-slash" id="icon1"></i>
        </div>
        <div class="login-box">
            <input type="password" name="password2" id="password2" placeholder="Verify password" class="half-input" required/>
            <i class="fa fa-eye-slash" id="icon2"></i>
        </div>
        <div class="login-box">
            <textarea rows="5" name="bio" class="full-input" placeholder="Write something about yourself"></textarea>
        </div>
        <input type="submit" value="Sign Up" class="submit" />
    </form>
    <div class="additional">
        <p>Already signed up?</p>
        <a href="{% url 'login' %}" class="btn">Log in</a>
    </div>
</div>

{% endblock content %}