{% extends 'base.html' %}

{% block content %}

<div>
    <form method="POST" action="" class="form">
        <h2>Sign Up</h2>
        {% csrf_token %}
<!--
        {% for field in form %}
            {{field.name}}: {{field}}
        {% endfor %}

-->
        <div class="login-box">
            <input type="text" name="username" placeholder="Enter username"/>
        </div>
        <div class="login-box">
            <input type="email" name="email" placeholder="Enter email"/>
        </div>
        <div class="login-box">
            <input type="password" name="password1" placeholder="Enter password"/>
        </div>
        <div class="login-box">
            <input type="password" name="password2" placeholder="Verify password"/>
        </div>
        <div class="login-box">
            <input type="text" name="bio" placeholder="Bio"/>
        </div>
        <input type="submit" value="Sign Up" class="submit" />
    </form>
    <div class="additional">
        <p>Already signed up?</p>
        <a href="{% url 'login' %}" class="btn">Log in</a>
    </div>
</div>

{% endblock content %}