<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>About page</h1>
    <h2>Our workers:</h2>
    <!-- esli nuzhno, dobavly svoistvo table border, chtob ramku oformit' -->
    <table>
        <thead>
            <tr>
                <th>Second Name</th>
                <th>Name</th>
                <th>Third Name</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            {% for worker in workers_data %}
            <tr>
                <td>{{worker.second_name}}</td>
                <td>{{worker.name}}</td>
                <td>{{worker.third_name}}</td>
                <td>{{worker.selery}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
